html{
	font-size: 30px;
}
/*
#div1{
	background-color: rgb(126,200,100);
	height : 4rem;
	width  : 6rem;
	border : solid 3px black;
	border-radius:4px;
}

#div2{
	background-color:cyan;
	height: 50%;
	width:50%;
	border:dotted 1px black;
	border-width:2px 3px;
}
*/
#sample{
	border-left: 3px solid red;
}

#para{
	text-transform: Uppercase;
	text-align:	Justify;
	text-indent: 5%;
	/* background-image: url(Images/coding_ninjas.png); */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#innerdiv1{
	background-color:coral;
	height: 50%;
	width:50%;
	margin:10px 10px 10px 10px;
}

#outerdiv1{
	background-color:rgba(28, 58, 122, 0.719);
	height:200px;
	width:200px;
	margin:30px 50px 30px;
	padding:30px;
}

#outerdiv2{
	background-color:cyan;
	height:200px;
	width:200px;
	margin: 20px;
}

#outerdiv{
	margin:10px;
	border:solid ;
	position:relative;
	left:10px;
	top:10px;
	padding-bottom:30px;
}

#div1{
	height:200px;
	width:200px;
	background-color:#a03109;
	position:fixed;
}

     
#div2{
	width:200px;
	height:200px;
	background-color:orange;
	
}

#div3{
	width:200px;
	height:200px;
	background-color:#3a0c83;
}

