body{
    margin:0px;
}

#body-header{
    background-image: url("Images/macbook_mouse.jpg");
    height:65vh;
    background-size: cover;
    /* Background attachment property explore
    background-attachment:fixed;
    */
    background-position:center;

}

.text-center{
    text-align: center;
}

#nav-menu li a{
    transition:color 0.5s, border-bottom 4s
}

#nav-menu li a:hover{
    border-bottom:2px solid lightgrey;
    color:lightgrey;
}
/* Horizontal list styling */

.horizontal-list{
    color:white;
    list-style-type:none;
    padding-left:0px;
    margin:0px;
}

.horizontal-list li{
    display:inline-block;
    margin:0px 8px 0px;
}

.horizontal-list a{
    color:white;
    text-decoration:none;
    
}

/* Name and Social icons */
#name-social-container{
    margin-top:20vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color:white;
    font-weight:bold;
}

.social-icons li a i{
    padding:10px;
    font-size:1.4rem;
    color:white;
    /* transition: (0,0); */
    border-radius:50%;
    transition: all 0.3s ease-in-out;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 10px 3px rgb(233, 222, 222);
}