p{
	color: red;
	font-size: 20px
}

#first{
	background-color: rgba(132, 14, 241, 0.795);
	color: orange;
	border-color:rgb(0, 0, 0);
	border-width: medium;
	height : 50px;
	width  : 50px;
}

.Cursive{
	color: red;
	text-transform : uppercase;
	font-family:'Courier New', Courier, monospace
}

h1, p{
	font-family : sans-serif
}

li h4{
	text-transform : uppercase;
	font-family: cursive;
}
